#include<stdio.h>
    int main() {
        int n;//前i条斜线一共j个数
        scanf("%d", &n);
        int x=1,p=1;
		while(n>x)
		{
			n-=x;
			x++;
		}
		int i=1;
		if(x%2==0)
	{
		   while(i<n)
		     {
		     	x--;
		     	p++;
		     	i++;
		     }
			 printf("%d%c%d",p,'/',x);	
	}
		else
		{while(i<n)
		     {
		     	x--;
		     	p++;
		     	i++;
		     }	
			 printf("%d%c%d",x,'/',p);
		}
        return 0;
}
